.cm-visual-tools-section-new {
    padding: 60px 0;
}
@media only screen and (max-width: 767px) {
    .cm-visual-tools-section-new {
        padding: 40px 0 0;
    }
}
.cm-visual-tools-section-new .left-bottom {
    position: absolute;
    left: 0;
    max-width: 195px;
    top: 0;
    -webkit-animation: bounce2 5s linear infinite;
    animation: bounce2 5s linear infinite;
    z-index: -1;
}
.cm-visual-tools-section-new .right-bottom {
    position: absolute;
    right: 0;
    bottom: 0;
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
    max-width: 248px;
    z-index: -1;
}
.cm-visual-tools-section-new .right-tri {
    position: absolute;
    top: 40px;
    -webkit-animation: bounce2 5s linear infinite;
    animation: bounce2 5s linear infinite;
    max-width: 160px;
    right: 0;
    z-index: -1;
}
.cm-visual-tools-section-new .left-tri {
    position: absolute;
    bottom: 0;
    -webkit-animation: bounce2 5s linear infinite;
    animation: bounce2 5s linear infinite;
    max-width: 160px;
    left: 0;
    z-index: -1;
}
.cm-visual-tools-section-new .cm-visual-parts-row {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: center;
    align-items: center;
    padding: 50px 0;
}
@media only screen and (max-width: 767px) {
    .cm-visual-tools-section-new .cm-visual-parts-row {
        padding: 0 0 50px 0;
    }
}
@media only screen and (max-width: 575px) {
    .cm-visual-tools-section-new .cm-visual-parts-row {
        padding: 0;
    }
}
.cm-visual-tools-section-new .cm-visual-parts-row .cm-visual-parts-col {
    width: 100%;
}
.cm-visual-tools-section-new .cm-visual-parts-row .cm-visual-parts-col .cm-static-editors h2 {
    color: #5cdb95;
    margin-bottom: 40px;
    position: relative;
    font-size: 44px;
    display: inline-block;
}
@media only screen and (max-width: 767px) {
    .cm-visual-tools-section-new .cm-visual-parts-row .cm-visual-parts-col .cm-static-editors h2 {
        margin-bottom: 30px;
        font-size: 26px;
    }
}
@media only screen and (max-width: 575px) {
    .cm-visual-tools-section-new .cm-visual-parts-row .cm-visual-parts-col .cm-static-editors h2 {
        text-align: center;
        display: block;
    }
}
.cm-visual-tools-section-new .cm-visual-parts-row .cm-visual-parts-col .cm-static-editors .cm-features {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    max-width: 380px;
}
@media only screen and (max-width: 575px) {
    .cm-visual-tools-section-new .cm-visual-parts-row .cm-visual-parts-col .cm-static-editors .cm-features {
        margin: 0 auto;
        -ms-flex-pack: center;
        justify-content: center;
        max-width: 100%;
        display: block;
        text-align: center;
    }
}
.cm-visual-tools-section-new
    .cm-visual-parts-row
    .cm-visual-parts-col
    .cm-static-editors
    .cm-features
    .cm-features-item {
    width: 30px;
    height: 30px;
    display: inline-block;
    position: relative;
    margin-right: 22px;
}
@media only screen and (max-width: 575px) {
    .cm-visual-tools-section-new
        .cm-visual-parts-row
        .cm-visual-parts-col
        .cm-static-editors
        .cm-features
        .cm-features-item {
        text-align: center;
    }
}
.cm-visual-tools-section-new
    .cm-visual-parts-row
    .cm-visual-parts-col
    .cm-static-editors
    .cm-features
    .cm-features-item
    img {
    position: absolute;
    z-index: 3;
    right: 0;
    left: 0;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    -webkit-transition: all ease-in-out 0.3s;
    transition: all ease-in-out 0.3s;
    -webkit-transform: scale(1);
    transform: scale(1);
    width: 30px;
}
@media only screen and (max-width: 575px) {
    .cm-visual-tools-section-new
        .cm-visual-parts-row
        .cm-visual-parts-col
        .cm-static-editors
        .cm-features
        .cm-features-item
        img {
        text-align: center;
        margin: 0 auto;
    }
}
.cm-visual-tools-section-new
    .cm-visual-parts-row
    .cm-visual-parts-col
    .cm-static-editors
    .cm-features
    .cm-features-item:hover
    img {
    -webkit-filter: grayscale(0%);
    filter: grayscale(0%);
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
}
.cm-visual-tools-section-new
    .cm-visual-parts-row
    .cm-visual-parts-col
    .cm-static-editors
    .cm-features
    .cm-features-item
    span {
    opacity: 0;
    -webkit-transition: all 0.3s linear;
    transition: all 0.3s linear;
    position: absolute;
    color: #5cdb95;
    padding: 4px 8px;
    background-color: #121212;
    display: block;
    font-size: 12px;
    font-weight: 700;
    line-height: 16px;
    text-align: center;
    -webkit-border-radius: 0.25rem;
    -moz-border-radius: 0.25rem;
    border-radius: 0.25rem;
    z-index: 9;
    left: -75%;
    right: 0;
    top: 115%;
    min-width: 100px;
    padding: 5px 10px;
}
@media only screen and (max-width: 991px) {
    .cm-visual-tools-section-new
        .cm-visual-parts-row
        .cm-visual-parts-col
        .cm-static-editors
        .cm-features
        .cm-features-item {
        flex: 0 0 20%;
        margin-bottom: 20px;
    }
    .cm-visual-tools-section-new
        .cm-visual-parts-row
        .cm-visual-parts-col
        .cm-static-editors
        .cm-features
        .cm-features-item
        span {
        left: -50%;
    }
}
@media only screen and (max-width: 575px) {
    .cm-visual-tools-section-new
        .cm-visual-parts-row
        .cm-visual-parts-col
        .cm-static-editors
        .cm-features
        .cm-features-item {
        min-width: 72px;
    }
    .cm-visual-tools-section-new
        .cm-visual-parts-row
        .cm-visual-parts-col
        .cm-static-editors
        .cm-features
        .cm-features-item
        span {
        left: -19%;
    }
}
.cm-visual-tools-section-new
    .cm-visual-parts-row
    .cm-visual-parts-col
    .cm-static-editors
    .cm-features
    .cm-features-item:hover
    span {
    opacity: 1;
}
.cm-visual-tools-section-new .cm-visual-parts-row .order-2 {
    order: 2;
}
.cm-visual-tools-section-new .cm-visual-parts-row .one-seventh {
    flex: 0 0 60%;
    max-width: 60%;
}
@media only screen and (max-width: 575px) {
    .cm-visual-tools-section-new .cm-visual-parts-row .one-seventh {
        flex: 0 0 100%;
        max-width: 100%;
    }
}
.cm-visual-tools-section-new .cm-visual-parts-row .one-fifth {
    flex: 0 0 40%;
    max-width: 40%;
}
@media only screen and (max-width: 575px) {
    .cm-visual-tools-section-new .cm-visual-parts-row .one-fifth {
        flex: 0 0 100%;
        max-width: 100%;
        margin: 20px auto;
    }
}
.cm-visual-tools-section-new .cm-visual-parts-row .right-col {
    text-align: right;
}
.cm-visual-tools-section-new .cm-visual-parts-row .right-col .cm-features {
    -ms-flex-pack: end;
    justify-content: flex-end;
    margin: 0 0 0 auto;
}
.cm-visual-tools-section-new .cm-visual-parts-row .right-col .cm-features .cm-features-item {
    margin-right: 0 !important;
    margin-left: 22px;
}
.cm-visual-tools-section-new .cm-visual-parts-row .gif-anim {
    margin-left: -24%;
    max-width: 370px;
}
@media only screen and (max-width: 991px) {
    .cm-visual-tools-section-new .cm-visual-parts-row .gif-anim {
        margin-left: 0;
    }
}
@media only screen and (max-width: 575px) {
    .cm-visual-tools-section-new .cm-visual-parts-row .gif-anim {
        margin-left: 0;
        max-width: 300px;
        margin: 0 auto 30px;
    }
}

@media only screen and (max-width: 575px) {
    .cm-visual-tools-section-new .cm-visual-parts-row:last-of-type .one-seventh {
        order: 2;
    }
}
