.company-pages .inner-page-title{height:100vh}
.company-pages .section-bg{background-repeat:no-repeat;background-size:cover;background-position:50% 50%;position:absolute;width:100%;height:100%;z-index:0;-webkit-filter:grayscale(100%);filter:grayscale(100%)}
.company-pages .section-bg:before{background-blend-mode:color,normal;background-image:-webkit-gradient(linear,left top,right top,from(rgba(0,0,0,0.65)),to(rgba(0,0,0,0.4)));background-image:linear-gradient(to right,rgba(0,0,0,0.65),rgba(0,0,0,0.4));position:absolute;top:0;left:0;width:100%;height:100%;content:""}
.company-pages .inner-page-title .header__text{position:relative;z-index:1}
.inner-page-title .header__text{height:100%;width:100%;display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-ms-flex-align:center;align-items:center;-ms-flex-pack:center;justify-content:center}
.company-pages .inner-page-title .header__text h2{font-size:150px}
.company-pages .inner-page-title .header__text .tagline-inner{display:block;font-size:31px;font-weight:300;letter-spacing:2px;margin-top:25px;padding:0 20px}
.company-pages .inner-page-title .header__text .tagline-inner .hignlight{text-transform:capitalize;font-size:inherit;letter-spacing:inherit;color:#5cdb95;display:inline-block;font-weight:600;position:relative;padding-top:0}
.company-pages .inner-page-title .header__text .tagline-inner .hignlight:before{display:inline-block;position:absolute;left:0;bottom:5px;height:4px;background:rgba(53,167,104,0.6);content:"";-webkit-transform:translate3d(0,50%,0);transform:translate3d(0,50%,0);z-index:-1;right:0}
@media only screen and (max-width: 1440px) {
.company-pages .inner-page-title .header__text h2{font-size:100px}
}
@media only screen and (max-width: 1199px) {
.company-pages .inner-page-title .header__text h2{font-size:80px}
.company-pages .inner-page-title .header__text .tagline-inner{font-size:26px;letter-spacing:1px}
.company-pages .inner-page-title{height:80vh}
}
@media only screen and (max-width: 767px) {
.company-pages .inner-page-title .header__text h2{font-size:36px}
}
@media only screen and (max-width: 575px) {
.company-pages .inner-page-title .header__text .tagline-inner{font-size:22px;letter-spacing:0}
}