.company-pages .cm-company-profile{padding:70px 0;z-index:3!important}
.company-pages .cm-company-profile .map-bg{position:absolute;right:0;top:50%;-webkit-transform:translate(0%,-50%);transform:translate(0%,-50%);opacity:.1}
.cm-company-profile{position:relative;background:#121212;overflow:unset!important}
.cm-company-profile .cm-company-imp .about-company-profile{width:30%;display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-ms-flex-align:center;align-items:center;-webkit-flex-wrap:wrap;-ms-flex-wrap:wrap;flex-wrap:wrap;-ms-flex-pack:justify;justify-content:space-between}
.cm-company-profile .cm-company-imp .about-company-profile .slick-box{flex:0 0 50%;padding:0 10px}
.cm-company-profile .cm-company-imp .about-company-profile .slick-box:nth-child(3){flex:0 0 100%;max-width:50%;margin:0 auto}
.cm-company-profile .cm-company-imp .about-company-profile .company-profile-img{display:block;text-align:center;margin:0 auto;max-width:150px}
.cm-company-profile .cm-company-imp .about-company-profile .company-profile-img img{text-align:center;margin:0 auto;display:block;max-width:150px;max-height:150px;width:100%}
.cm-company-profile .cm-company-imp .animation-numbers__title{width:70%}
.cm-company-profile .cm-company-imp{padding:0;display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-ms-flex-align:center;align-items:center}
.company-pages .cm-company-profile .cm-section-title h2{color:#fff;text-transform:unset}
.company-pages .cm-company-profile .cm-section-title span.styled-span{color:#fff}
.animation-numbers__title{font-size:56px;min-height:65px;font-weight:500;font-size:56px;min-height:65px;font-weight:500}
.animation-numbers__title:after{display:inline-block;vertical-align:sub;height:32px;width:3px;margin-left:3px;background-color:#5cdb95;opacity:1;-webkit-animation:blink .7s infinite;animation:blink .7s infinite;content:"";height:65px;width:6px;margin-left:6px}
@media only screen and (max-width: 1199px) {
.animation-numbers__title:after{height:45px}
.animation-numbers__title{font-size:38px;min-height:50px}
}
@media only screen and (max-width: 991px) {
.animation-numbers__title:after{height:35px}
.animation-numbers__title{font-size:32px;min-height:35px}
}
@media only screen and (max-width: 767px) {
.company-pages .cm-company-profile{padding:40px 0 0}
.cm-company-profile .cm-company-imp .about-company-profile{width:100%;margin-top:30px;max-width:300px;-webkit-flex-wrap:wrap;-ms-flex-wrap:wrap;flex-wrap:wrap}
.cm-company-profile .cm-company-imp{padding:50px 0;-ms-flex-align:start;align-items:flex-start;-webkit-box-orient:vertical;-webkit-box-direction:normal;-ms-flex-direction:column;flex-direction:column}
}
@media only screen and (max-width: 575px) {
.cm-company-profile .ii{top:auto;bottom:-34px;filter:none!important}
}