.cm_side_logo.cm_right_side_bar {
    right: 0;
    left: auto;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    border-left: 1px solid #e6e6e6;
}
.cm_side_logo.cm_right_side_bar .cm_inner_logo {
    top: auto;
    font-size: 20px;
    text-transform: uppercase;
    display: block;
    letter-spacing: 0;
    position: absolute;
    left: 50%;
    bottom: 100px;
    -webkit-transform: translate(-50%, 0) rotate(90deg);
    transform: translate(-50%, 0) rotate(90deg);
}
.cm_side_logo.cm_right_side_bar .cm_inner_logo a {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    font-size: 20px;
    text-transform: uppercase;
    display: block;
    letter-spacing: 0;
    position: relative;
    left: 0;
    right: 0;
    top: 0;
    border: 0;
    letter-spacing: 1px;
    font-weight: 400;
}
.fp-viewing-0 .cm_side_logo.cm_right_side_bar,
.fp-viewing-2 .cm_side_logo.cm_right_side_bar,
.fp-viewing-4 .cm_side_logo.cm_right_side_bar {
    border-left: 1px solid #444444;
    border-right: 0;
}
