.our-services {
    background: #121212;
    position: relative;
    overflow: hidden;
}
.our-services .v-lines .v-lines-one,
.our-services .v-lines .v-lines-two,
.our-services .v-lines .v-lines-three,
.our-services .v-lines .v-lines-four {
    position: absolute;
    width: 1px;
    height: 100%;
    background: #444444;
    top: 0px;
}
.our-services .v-lines .v-lines-one {
    left: 0;
}
.our-services .v-lines .v-lines-two {
    left: 33.33%;
}

@media only screen and (max-width: 575px) {
    .our-services .v-lines .v-lines-two {
        left: 100%;
    }
}
.our-services .v-lines .v-lines-three {
    left: 66.66%;
}
@media only screen and (max-width: 575px) {
    .our-services .v-lines .v-lines-three {
        display: none;
    }
}
.our-services .v-lines .v-lines-four {
    left: 100%;
}
@media only screen and (max-width: 575px) {
    .our-services .v-lines .v-lines-four {
        display: none;
    }
}
.our-services .our-service-inner .service-section-part {
    width: 33.33%;
    color: #ffffff;
    padding: 20px 0px;
    position: relative;
}
@media only screen and (max-width: 1366px) {
    .our-services .our-service-inner .service-section-part {
        padding: 20px 0px 0;
    }
}
@media only screen and (max-width: 575px) {
    .our-services .our-service-inner .service-section-part {
        width: 100%;
    }
}
.our-services .our-service-inner .service-section-part .cm_sc_parts {
    position: relative;
    z-index: 2;
    min-height: 280px;
}
@media only screen and (max-width: 1199px) {
    .our-services .our-service-inner .service-section-part .cm_sc_parts {
        min-height: 195px;
    }
}
@media only screen and (max-width: 575px) {
    .our-services .our-service-inner .service-section-part .cm_sc_parts {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        min-height: auto;
        padding: 0px 30px;
    }
}
.our-services .our-service-inner .service-section-part .cm_sc_parts .cm_service_number {
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    display: inline-block;
    margin-left: -20px;
    overflow: hidden;
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
}
@media only screen and (max-width: 575px) {
    .our-services .our-service-inner .service-section-part .cm_sc_parts .cm_service_number {
        margin-left: -18px;
    }
}
.our-services .our-service-inner .service-section-part .cm_sc_parts .cm_service_number span {
    display: inline-block;
    opacity: 0.5;
}
.our-services .our-service-inner .service-section-part .cm_sc_parts .cm_service_name {
    overflow: hidden;
    width: 100%;
}
.our-services .our-service-inner .service-section-part .cm_sc_parts .cm_service_name a {
    font-size: 21px;
    letter-spacing: 1px;
    padding: 10px 5px 20px;
    display: inline-block;
    color: #ffffff;
    font-weight: 600;
}
@media only screen and (max-width: 991px) {
    .our-services .our-service-inner .service-section-part .cm_sc_parts .cm_service_name a {
        font-size: 16px;
        letter-spacing: 0px;
        padding: 0px 5px 9px;
    }
}
@media only screen and (max-width: 767px) {
    .our-services .our-service-inner .service-section-part .cm_sc_parts .cm_service_name a {
        font-size: 14px;
        letter-spacing: 1px;
    }
}
@media only screen and (max-width: 575px) {
    .our-services .our-service-inner .service-section-part .cm_sc_parts .cm_service_name a {
        padding: 0 10px;
    }
}
.our-services .our-service-inner .service-section-part .cm_sc_parts .cm_services_provided {
    overflow: hidden;
}
@media only screen and (max-width: 575px) {
    .our-services .our-service-inner .service-section-part .cm_sc_parts .cm_services_provided {
        display: none;
    }
}
.our-services .our-service-inner .service-section-part .cm_sc_parts .cm_services_provided li {
    position: relative;
}
.our-services .our-service-inner .service-section-part .cm_sc_parts .cm_services_provided li a {
    color: #ffffff;
    font-size: 18px;
    display: inline-block;
    padding: 4px 5px;
    letter-spacing: 0.5px;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}
@media only screen and (max-width: 991px) {
    .our-services .our-service-inner .service-section-part .cm_sc_parts .cm_services_provided li a {
        font-size: 14px;
    }
}
.our-services .our-service-inner .service-section-part .cm_sc_parts .cm_services_provided li a:hover {
    -webkit-transform: translate(15px, 0px);
    transform: translate(15px, 0px);
}
.our-services .our-service-inner .service-section-part .cm_sc_parts .cm_services_provided li:before {
    content: "";
    position: absolute;
    width: 0px;
    height: 2px;
    background: #5cdb95;
    left: -10px;
    top: 50%;
    -webkit-transform: translate(0px, -50%);
    transform: translate(0px, -50%);
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}
.our-services .our-service-inner .service-section-part .cm_sc_parts .cm_services_provided li:hover::before {
    width: 20px;
}
.our-services .our-service-inner .service-section-part .cm_sc_parts:hover .cm_service_number span {
    color: #5cdb95;
    opacity: 1 !important;
}
.our-services .our-service-inner .service-section-part .cm_sc_parts:last-of-type {
    padding: 50px 0 94px 0;
}
@media only screen and (max-width: 575px) {
    .our-services .our-service-inner .service-section-part .cm_sc_parts:last-of-type {
        padding: 0px 30px;
    }
}
.our-services .our-service-inner .service-section-part .cm_service_bg {
    position: absolute;
    top: 0;
    right: 0;
    opacity: 0.1;
    height: 100%;
    overflow: hidden;
    z-index: 1;
    width: 60%;
    left: auto;
}
.our-services .our-service-inner .service-section-part .cm_service_bg i {
    position: absolute;
    top: 50px;
    right: -30px;
    font-size: 260px;
    color: #5cdb95;
    line-height: 236px;
}
@media only screen and (max-width: 1800px) {
    .our-services .our-service-inner .service-section-part .cm_service_bg i {
        font-size: 180px;
        line-height: 180px;
    }
}
@media only screen and (max-width: 1199px) {
    .our-services .our-service-inner .service-section-part .cm_service_bg i {
        top: 50px;
        right: -20px;
        font-size: 140px;
        line-height: 140px;
    }
}
@media only screen and (max-width: 991px) {
    .our-services .our-service-inner .service-section-part .cm_service_bg i {
        font-size: 130px;
        line-height: 130px;
    }
}
@media only screen and (max-width: 767px) {
    .our-services .our-service-inner .service-section-part .cm_service_bg i {
        right: -22px;
        font-size: 100px;
        line-height: 99px;
    }
}
@media only screen and (max-width: 575px) {
    .our-services .our-service-inner .service-section-part .cm_service_bg i {
        display: none;
    }
}
.our-services .our-service-inner .service-section-part .cm_service_bg svg {
    width: 240px;
    position: absolute;
    height: 240px;
    bottom: 0px;
    right: -50px;
}
@media only screen and (max-width: 767px) {
    .our-services .our-service-inner .service-section-part .cm_service_bg svg {
        width: 140px;
        height: 140px;
    }
}
@media only screen and (max-width: 575px) {
    .our-services .our-service-inner .service-section-part .cm_service_bg svg {
        display: none;
    }
}
.our-services .our-service-inner .service-section-part .cm_service_bg svg.service-web-icon,
.our-services .our-service-inner .service-section-part .cm_service_bg svg.service-ecommerce-icon,
.our-services .our-service-inner .service-section-part .cm_service_bg svg.service-android-icon {
    fill: #5cdb95;
}
.our-services .our-service-inner .service-section-part .cm_service_bg svg path {
    stroke: #5cdb95;
}
.our-services .our-service-inner .service-section-part .cm_service_bg svg circle,
.our-services .our-service-inner .service-section-part .cm_service_bg svg rect,
.our-services .our-service-inner .service-section-part .cm_service_bg svg polygon {
    fill: #5cdb95;
}
.our-services.active .v-lines-one,
.our-services.active .v-lines-two,
.our-services.active .v-lines-three,
.our-services.active .v-lines-four {
    -webkit-animation: Down 0.6s 0s both;
    animation: Down 0.6s 0s both;
}
.our-services.active .v-lines-one {
    -webkit-animation-delay: 0.5s;
    animation-delay: 0.5s;
}
.our-services.active .v-lines-two {
    -webkit-animation-delay: 1s;
    animation-delay: 1s;
}
.our-services.active .v-lines-three {
    -webkit-animation-delay: 1.5s;
    animation-delay: 1.5s;
}
.our-services.active .v-lines-four {
    -webkit-animation-delay: 2s;
    animation-delay: 2s;
}
.our-services.active .cm_sub_title h6 span {
    -webkit-animation: Right 0.6s 0s both;
    animation: Right 0.6s 0s both;
    -webkit-animation-delay: 0.1s;
    animation-delay: 0.1s;
}
.our-services.active .our-service-inner .service-section-part .cm_sc_parts .cm_service_number span {
    -webkit-animation: Up 0.6s 0s both;
    animation: Up 0.6s 0s both;
}
.our-services.active .our-service-inner .service-section-part .cm_sc_parts .cm_service_name a {
    -webkit-animation: Right 0.6s 0s both;
    animation: Right 0.6s 0s both;
}
.our-services.active .our-service-inner .service-section-part .cm_sc_parts .cm_services_provided li {
    -webkit-animation: Right 0.6s 0s both;
    animation: Right 0.6s 0s both;
}
.our-services.active .our-service-inner .service-section-part:nth-child(1) .cm_service_number span,
.our-services.active .our-service-inner .service-section-part:nth-child(4) .cm_service_number span {
    -webkit-animation-delay: 0.5s;
    animation-delay: 0.5s;
}
.our-services.active .our-service-inner .service-section-part:nth-child(1) .cm_service_name a,
.our-services.active .our-service-inner .service-section-part:nth-child(4) .cm_service_name a {
    -webkit-animation-delay: 0.5s;
    animation-delay: 0.5s;
}
.our-services.active .our-service-inner .service-section-part:nth-child(1) .cm_services_provided li,
.our-services.active .our-service-inner .service-section-part:nth-child(4) .cm_services_provided li {
    -webkit-animation-delay: 0.5s;
    animation-delay: 0.5s;
}
.our-services.active .our-service-inner .service-section-part:nth-child(2) .cm_service_number span,
.our-services.active .our-service-inner .service-section-part:nth-child(5) .cm_service_number span {
    -webkit-animation-delay: 1s;
    animation-delay: 1s;
}
.our-services.active .our-service-inner .service-section-part:nth-child(2) .cm_service_name a,
.our-services.active .our-service-inner .service-section-part:nth-child(5) .cm_service_name a {
    -webkit-animation-delay: 1s;
    animation-delay: 1s;
}
.our-services.active .our-service-inner .service-section-part:nth-child(2) .cm_services_provided li,
.our-services.active .our-service-inner .service-section-part:nth-child(5) .cm_services_provided li {
    -webkit-animation-delay: 1s;
    animation-delay: 1s;
}
.our-services.active .our-service-inner .service-section-part:nth-child(3) .cm_service_number span {
    -webkit-animation-delay: 1.5s;
    animation-delay: 1.5s;
}
@media only screen and (max-width: 575px) {
    .our-services.active .our-service-inner .service-section-part:nth-child(3) .cm_service_number span {
        -webkit-animation-delay: 1s;
        animation-delay: 1s;
    }
}
.our-services.active .our-service-inner .service-section-part:nth-child(3) .cm_service_name a {
    -webkit-animation-delay: 1.5s;
    animation-delay: 1.5s;
}
@media only screen and (max-width: 575px) {
    .our-services.active .our-service-inner .service-section-part:nth-child(3) .cm_service_name a {
        -webkit-animation-delay: 1s;
        animation-delay: 1s;
    }
}
.our-services.active .our-service-inner .service-section-part:nth-child(3) .cm_services_provided li {
    -webkit-animation-delay: 1.5s;
    animation-delay: 1.5s;
}
@media only screen and (max-width: 575px) {
    .our-services.active .our-service-inner .service-section-part:nth-child(3) .cm_services_provided li {
        -webkit-animation-delay: 1s;
        animation-delay: 1s;
    }
}
@media only screen and (max-width: 575px) {
    .our-services.active .our-service-inner .service-section-part:nth-child(2) .cm_service_number span {
        -webkit-animation-delay: 0.6s;
        animation-delay: 0.6s;
    }
    .our-services.active .our-service-inner .service-section-part:nth-child(2) .cm_service_name a {
        -webkit-animation-delay: 0.6s;
        animation-delay: 0.6s;
    }
    .our-services.active .our-service-inner .service-section-part:nth-child(2) .cm_services_provided li {
        -webkit-animation-delay: 0.6s;
        animation-delay: 0.6s;
    }
}
@media only screen and (max-width: 575px) {
    .our-services.active .our-service-inner .service-section-part:nth-child(4) .cm_service_number span {
        -webkit-animation-delay: 1.4s;
        animation-delay: 1.4s;
    }
    .our-services.active .our-service-inner .service-section-part:nth-child(4) .cm_service_name a {
        -webkit-animation-delay: 1.4s;
        animation-delay: 1.4s;
    }
    .our-services.active .our-service-inner .service-section-part:nth-child(4) .cm_services_provided li {
        -webkit-animation-delay: 1.4s;
        animation-delay: 1.4s;
    }
}
.cm_gib-title {
    padding: 80px 0px 50px;
    position: relative;
}
@media only screen and (max-width: 1366px) {
    .cm_gib-title {
        padding: 50px 0px 50px;
    }
}
@media only screen and (max-width: 991px) {
    .cm_gib-title {
        padding: 50px 0px 100px;
    }
}
@media only screen and (max-width: 767px) {
    .cm_gib-title {
        padding: 50px 0px 150px;
    }
}
@media only screen and (max-width: 575px) {
    .cm_gib-title {
        padding: 130px 0px;
    }
}
.cm_gib-title h3 {
    font-size: 40px;
    text-transform: uppercase;
    font-weight: 500;
    text-align: center;
    letter-spacing: 1px;
    position: relative;
    z-index: 1;
}
@media only screen and (max-width: 767px) {
    .cm_gib-title h3 {
        font-size: 25px;
    }
}
.cm_gib-title .cm_service_marquee {
    position: absolute;
    width: 33.33%;
    left: 0;
    right: 0;
    margin: 0 auto;
    height: 100%;
    top: 0px;
    overflow: hidden;
    text-shadow: 2px 2px 7px rgba(0, 0, 0, 0.3);
}
@media only screen and (max-width: 575px) {
    .cm_gib-title .cm_service_marquee {
        top: 85px;
        width: 92%;
    }
}
.cm_gib-title .cm_service_marquee .scroll-text2 {
    position: absolute;
    display: block;
    top: 29%;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    background-position-y: 50% !important;
    opacity: 0.3;
}
@media only screen and (max-width: 1366px) {
    .cm_gib-title .cm_service_marquee .scroll-text2 {
        top: 19%;
    }
}
@media only screen and (max-width: 767px) {
    .cm_gib-title .cm_service_marquee .scroll-text2 {
        top: 8%;
    }
}
.cm_gib-title .cm_service_marquee .scroll-text2 span {
    font-size: 90px;
    text-transform: uppercase;
    padding: 0px 10px;
    font-weight: bold;
    color: transparent;
    -webkit-text-stroke: 1px #5cdb95;
}
@media only screen and (max-width: 1366px) {
    .cm_gib-title .cm_service_marquee .scroll-text2 span {
        font-size: 80px;
    }
}
@media only screen and (max-width: 575px) {
    .cm_gib-title .cm_service_marquee .scroll-text2 span {
        font-size: 65px;
    }
}
.v-lines {
    position: absolute;
    left: 50%;
    top: 0;
    height: 100%;
    width: 65%;
    -webkit-transform: translate(-50%);
    transform: translate(-50%);
    pointer-events: none;
    max-width: 65%;
}
@media only screen and (max-width: 1199px) {
    .v-lines {
        width: 100%;
        max-width: 85%;
    }
}
@media only screen and (max-width: 767px) {
    .v-lines {
       
        max-width: 88%;
    }
}
.active .cm_service_title span {
    -webkit-animation: revolveDrop 0.3s forwards;
    animation: revolveDrop 0.3s forwards;
}
.cm_service_title span {
    color: #ffffff;
    opacity: 0;
    -webkit-transform: translate(0, -100px) rotate(360deg) scale(0);
    transform: translate(0, -100px) rotate(360deg) scale(0);
    display: inline-block;
}
.cm_sub_title {
    margin: 30px 0px 0px;
    position: relative;
}
@media only screen and (max-width: 1366px) {
    .cm_sub_title {
        margin: 0;
    }
}
.cm_sub_title h6 {
    overflow: hidden;
}
@media only screen and (max-width: 575px) {
    .cm_sub_title h6 {
        padding: 0px 10px;
    }
}
.cm_sub_title h6 span {
    color: #ffffff;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 100;
    letter-spacing: 3px;
    text-align: left;
    padding: 0px 5px;
    display: block;
}
@media only screen and (max-width: 575px) {
    .cm_sub_title h6 span {
        font-size: 16px;
        letter-spacing: 2px;
    }
}
.cm_sub_title:before {
    content: "";
    position: absolute;
    width: 50px;
    height: 2px;
    background: #5cdb95;
    left: -55px;
    top: 50%;
    -webkit-transform: translate(0px, -50%);
    transform: translate(0px, -50%);
}
@media only screen and (max-width: 575px) {
    .cm_sub_title:before {
        width: 60px;
    }
}

.cm_service_title span {
    color: #ffffff;
    opacity: 0;
    -webkit-transform: translate(0, -100px) rotate(360deg) scale(0);
    transform: translate(0, -100px) rotate(360deg) scale(0);
    display: inline-block;
}
@media only screen and (max-width: 575px) {
    .cm_service_title span {
        opacity: 1;
        transform: none;
    }
}
.cm_service_title span:nth-of-type(2) {
    -webkit-animation-delay: 0.05s;
    animation-delay: 0.05s;
}
.cm_service_title span:nth-of-type(3) {
    -webkit-animation-delay: 0.1s;
    animation-delay: 0.1s;
}
.cm_service_title span:nth-of-type(4) {
    -webkit-animation-delay: 0.15s;
    animation-delay: 0.15s;
}
.cm_service_title span:nth-of-type(5) {
    -webkit-animation-delay: 0.2s;
    animation-delay: 0.2s;
}
.cm_service_title span:nth-of-type(6) {
    -webkit-animation-delay: 0.25s;
    animation-delay: 0.25s;
}
.cm_service_title span:nth-of-type(7) {
    -webkit-animation-delay: 0.3s;
    animation-delay: 0.3s;
}
.cm_service_title span:nth-of-type(8) {
    -webkit-animation-delay: 0.35s;
    animation-delay: 0.35s;
}
.cm_service_title span:nth-of-type(9) {
    -webkit-animation-delay: 0.4s;
    animation-delay: 0.4s;
}
.cm_service_title span:nth-of-type(10) {
    -webkit-animation-delay: 0.45s;
    animation-delay: 0.45s;
}
.cm_service_title span:nth-of-type(11) {
    -webkit-animation-delay: 0.5s;
    animation-delay: 0.5s;
}
@keyframes revolveDrop {
    30% {
        transform: translate(0, -50px) rotate(180deg) scale(1);
    }
    60% {
        transform: translate(0, 20px) scale(0.8) rotate(0deg);
    }
    100% {
        transform: translate(0) scale(1) rotate(0deg);
        opacity: 1;
    }
}

.flaticon-test:before {
    content: "\f100";
}

.flaticon-ux:before {
    content: "\f101";
}

.flaticon-www:before {
    content: "\f102";
}

.flaticon-app-development:before {
    content: "\f103";
}

.flaticon-press:before {
    content: "\f104";
}

.flaticon-appreciation:before {
    content: "\f105";
}

.flaticon-online-education:before {
    content: "\f106";
}

.flaticon-encourage:before {
    content: "\f107";
}

.flaticon-work:before {
    content: "\f108";
}

.flaticon-brain:before {
    content: "\f109";
}

.flaticon-multitask:before {
    content: "\f10a";
}

.flaticon-developing:before {
    content: "\f10b";
}

.flaticon-animation:before {
    content: "\f10c";
}

.flaticon-coding:before {
    content: "\f10d";
}

.flaticon-api:before {
    content: "\f10e";
}

.flaticon-ui:before {
    content: "\f10f";
}

.flaticon-store:before {
    content: "\f110";
}

.flaticon-framework:before {
    content: "\f111";
}

.flaticon-integration:before {
    content: "\f112";
}

.flaticon-cms:before {
    content: "\f113";
}

.flaticon-respect:before {
    content: "\f114";
}

.flaticon-friendship:before {
    content: "\f115";
}

.flaticon-transparency:before {
    content: "\f116";
}

.flaticon-interview:before {
    content: "\f117";
}

.flaticon-financial-graphic-of-stocks-on-tablet-screen:before {
    content: "\f118";
}

.flaticon-app:before {
    content: "\f119";
}

.flaticon-controller:before {
    content: "\f11a";
}

.flaticon-on-demand:before {
    content: "\f11b";
}

.flaticon-cosmetics:before {
    content: "\f11c";
}

.flaticon-gym:before {
    content: "\f11d";
}

.flaticon-online:before {
    content: "\f11e";
}

.flaticon-facebook:before {
    content: "\f11f";
}

.flaticon-exposure:before {
    content: "\f120";
}
